.genres-container {
  /* margin: 10px 0; */
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  background-color: yellow;
  /* border-bottom: 1px solid #ddd; */
}

.genres-container .genre {
  flex: 1 0 20%;
  margin: 5px 0;
  padding: 10px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: orange;
}

.genres-container .genre:hover {
  background-color: #ddd;
}
/* goes with text on bottom box as fill*/
.movies-container .movies-header, .results-container .movie {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 40px;

  
}
/* goes with text on bottom box on the left*/
.movie .title, .movies-header .header-lg {

  flex: 1 0 50%;
}

/* goes with text on bottom box on the right*/
.header, .movie .rating, .movie .votes {
  flex: 1 0 25%;
}

.listings-header {
  padding-left: 25px;
  flex:1 0 25%;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}


.column {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  border-radius: 15px;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.column:hover .image {
  opacity: 0.75;
}

.column:hover .middle {
  opacity: 1;
}

.text {
  color: black;
  font-size: 33px;
  font-weight: bold;
}


.single_listing_name {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.listing {
  column-count: 3;
  font-size: 12px;
  white-space: nowrap;
  padding-bottom: 1px;
}