.header-container, .results-container {
  display: flex;
  flex-flow: column wrap;
  /* margin-top: 10px; */
  margin: 25px;
}

.header-container .headers, .reviews-container .movieResults {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  height: 40px;
}

.movieResults .title, .movieResults .id, .movieResults .rating, .movieResults .votes, .headers .header {
  flex: 1 0 25%;
}

.name {
  flex: 1 0 25%;
  flex-flow: column wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
}

.comment {
  flex: 1 0 25%;
  flex-flow: column wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
}

.city {
  padding-left: 10px;
 }
 
 .reviewer {
   
  padding-right: 100px ;
  
 }
 
.date {
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
 }

